## These are used in foundry.toml

# Global Settings
DEPLOYER_ADDRESS="op://Dev/merkl-contracts-foundry/DEPLOYER_ADDRESS"
DEPLOYER_PRIVATE_KEY="op://Dev/merkl-contracts-foundry/DEPLOYER_PRIVATE_KEY"
MERKL_DEPLOYER_PRIVATE_KEY="op://Dev/merkl-contracts-foundry/MERKL_DEPLOYER_PRIVATE_KEY"
MNEMONIC="op://Dev/merkl-contracts-foundry/MNEMONIC"

#HARDHAT_IGNITION_CONFIRM_DEPLOYMENT=false # uncomment to ignore deployments validation
DEPLOY_SALT="op://Dev/merkl-contracts-foundry/DEPLOY_SALT"

ETHERSCAN_API_KEY="op://Dev/merkl-contracts-foundry/ETHERSCAN_API_KEY"

BASE_NODE_URI=""

# <NETWORK> (chainId: <CHAIN_ID>)
ETH_NODE_URI_<CHAIN_ID>=""
