[profile.default]
auto_detect_solc = false
src = 'contracts'
out = 'out'
test = 'test'
libs = ["node_modules", "lib"]
script = 'scripts'
cache_path = 'cache-forge'
gas_reports = ["*"]
optimizer_runs = 100
fs_permissions = [
  { access = "read", path = "./node_modules/@merkl/registry/dist/src/registry.json" }, 
  { access = "write", path = "./transactions" }, 
]
solc = "0.8.25"

ffi = true

[profile.deploy]
auto_detect_solc = false
src = 'contracts'
out = 'out'
test = 'test'
libs = ["node_modules"]
script = 'scripts'
cache_path = 'cache-forge'
gas_reports = ["*"]
optimizer_runs = 100
fs_permissions = [
  { access = "read", path = "./node_modules/@merkl/registry/dist/src/registry.json" }, 
  { access = "write", path = "./transaction.json" }, 
  { access = "write", path = "./transactions.json" }
]
solc = "0.8.25"

[fuzz]
runs = 500

[invariant]
runs = 500

[profile.dev]
via_ir = false

[rpc_endpoints]
localhost = "${LOCALHOST_NODE_URI}"
mainnet = "${MAINNET_NODE_URI}"
polygon = "${POLYGON_NODE_URI}"
fantom = "${FANTOM_NODE_URI}"
optimism = "${OPTIMISM_NODE_URI}"
arbitrum = "${ARBITRUM_NODE_URI}"
avalanche = "${AVALANCHE_NODE_URI}"
bsc = "${BSC_NODE_URI}"
gnosis = "${GNOSIS_NODE_URI}"
polygonzkevm = "${POLYGONZKEVM_NODE_URI}"
base = "${BASE_NODE_URI}"
bob = "${BOB_NODE_URI}"
linea = "${LINEA_NODE_URI}"
zksync = "${ZKSYNC_NODE_URI}"
mantle = "${MANTLE_NODE_URI}"
blast = "${BLAST_NODE_URI}"
mode = "${MODE_NODE_URI}"
thundercore = "${THUNDERCORE_NODE_URI}"
coredao = "${COREDAO_NODE_URI}"
xlayer = "${XLAYER_NODE_URI}"
taiko = "${TAIKO_NODE_URI}"
fuse = "${FUSE_NODE_URI}"
immutable = "${IMMUTABLE_NODE_URI}"
scroll = "${SCROLL_NODE_URI}"
manta = "${MANTA_NODE_URI}"
sei = "${SEI_NODE_URI}"
celo = "${CELO_NODE_URI}"
fraxtal = "${FRAXTAL_NODE_URI}"
astar = "${ASTAR_NODE_URI}"
rootstock = "${ROOTSTOCK_NODE_URI}"
moonbeam = "${MOONBEAM_NODE_URI}"
skale = "${SKALE_NODE_URI}"
worldchain = "${WORLDCHAIN_NODE_URI}"
lisk = "${LISK_NODE_URI}"
etherlink = "${ETHERLINK_NODE_URI}"
swell = "${SWELL_NODE_URI}"
fork = "${FORK_NODE_URI}"
sonic = "${SONIC_NODE_URI}"
corn = "${CORN_NODE_URI}"
ink = "${INK_NODE_URI}"
ronin = "${RONIN_NODE_URI}"
flow = "${FLOW_NODE_URI}"
berachain = "${BERACHAIN_NODE_URI}"
nibiru = "${NIBIRU_NODE_URI}"
zircuit = "${ZIRCUIT_NODE_URI}"
apechain = "${APECHAIN_NODE_URI}"
hyperevm = "${HYPEREVM_NODE_URI}"
hemi="${HEMI_NODE_URI}"
xdc="${XDC_NODE_URI}"
katana="${KATANA_NODE_URI}"
tac="${TAC_NODE_URI}"
plasma="${PLASMA_NODE_URI}"
mezo="${MEZO_NODE_URI}"
redbelly="${REDBELLY_NODE_URI}"
saga="${SAGA_NODE_URI}"
ethereal="${ETHEREAL_NODE_URI}"
monad="${MONAD_NODE_URI}"

[etherscan]
localhost = { url = "http://localhost:4000", key = "none" }
mainnet = { chainId = 1, key = "${MAINNET_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1}" }
polygon = { chainId = 137, key = "${POLYGON_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_137}" }
fantom = { chainId = 250, key = "${FANTOM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_250}" }
optimism = { chainId = 10, key = "${OPTIMISM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_10}" }
arbitrum = { chainId = 42161, key = "${ARBITRUM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_42161}" }
avalanche = { chainId = 43114, key = "${AVALANCHE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_43114}" }
bsc = { chainId = 56, key = "${BSC_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_56}" }
gnosis = { chainId = 100, key = "${GNOSIS_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_100}" }
polygonzkevm = { chainId = 1101, key = "${POLYGONZKEVM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1101}" }
base = { chainId = 8453, key = "${BASE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_8453}" }
bob = { chainId = 60808, key = "${BOB_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_60808}" }
linea = { chainId = 59144, key = "${LINEA_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_59144}" }
zksync = { chainId = 324, key = "${ZKSYNC_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_324}" }
mantle = { chainId = 5000, key = "${MANTLE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_5000}" }
blast = { chainId = 81457, key = "${BLAST_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_81457}" }
mode = { chainId = 34443, key = "${MODE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_34443}" }
thundercore = { chainId = 108, key = "${THUNDERCORE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_108}" }
coredao = { chainId = 1116, key = "${COREDAO_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1116}" }
xlayer = { chainId = 196, key = "${XLAYER_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_196}" }
taiko = { chainId = 167000, key = "${TAIKO_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_167000}" }
fuse = { chainId = 122, key = "${FUSE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_122}" }
immutable = { chainId = 13371, key = "${IMMUTABLE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_13371}" }
scroll = { chainId = 534352, key = "${SCROLL_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_534352}" }
manta = { chainId = 169, key = "${MANTA_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_169}" }
sei = { chainId = 1329, key = "${SEI_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1329}" }
celo = { chainId = 42220, key = "${CELO_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_42220}" }
fraxtal = { chainId = 252, key = "${FRAXTAL_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_252}" }
astar = { chainId = 592, key = "${ASTAR_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_592}" }
rootstock = { chainId = 30, key = "${ROOTSTOCK_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_30}" }
moonbeam = { chainId = 1284, key = "${MOONBEAM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1284}" }
skale = { chainId = 2046399126, key = "${SKALE_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_2046399126}" }
worldchain = { chainId = 480, key = "${WORLDCHAIN_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_480}" }
lisk = { chainId = 1135, key = "${LISK_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1135}" }
etherlink = { chainId = 42793, key = "${ETHERLINK_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_42793}" }
swell = { chainId = 1923, key = "${SWELL_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_1923}" }
sonic = { chainId = 146, key = "${SONIC_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_146}" }
corn = { chainId = 21000000, key = "${CORN_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_21000000}" }
ink = { chainId = 57073, key = "${INK_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_57073}" }
ronin = { chainId = 2020, key = "${RONIN_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_2020}" }
flow = { chainId = 747, key = "${FLOW_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_747}" }
berachain = { chainId = 80094, key = "${BERACHAIN_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_80094}" }
nibiru = { chainId = 6900, key = "${NIBIRU_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_6900}" }
zircuit = { chainId = 48900, key = "${ZIRCUIT_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_48900}" }
apechain = { chainId = 33139, key = "${APECHAIN_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_33139}" }
hyperevm = { chainId = 999, key = "${HYPEREVM_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_999}" }
hemi = { chainId = 43111, key = "${HEMI_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_43111}" }
xdc = { chainId = 50, key = "${XDC_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_50}" }
katana = {chainId = 747474, key = "${KATANA_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_747474}" }
tac = {chainId = 239, key = "${TAC_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_239}" }
plasma = {chainId = 9745, key = "${PLASMA_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_9745}" }
mezo = {chainId = 31612, key = "${MEZO_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_31612}" }
redbelly = {chainId = 151, key = "${REDBELLY_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_151}" } 
saga = {chainId = 5464, key = "${SAGA_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_5464}" }
ethereal = {chainId = 5064014, key = "none", url = "${VERIFIER_URL_5064014}" } 
monad = {chaindId = 143, key = "${MONAD_ETHERSCAN_API_KEY}", url = "${VERIFIER_URL_143}" }
 